/* ******************* FONT FAMILY ******************** */
$headings-font-family: "Times New Roman", Times, serif;
$input-btn-font-family: "impact", Times, serif;

/* ************************ COLOR *********************** */
$primary: #22A1ED;
$dark: #04040C;
$headings-color: #284876;
$card-bg: #FCFCFC;